Repository iqm-finland/sphinx-multiversion-contrib: changes, and which pre-commit hooks are due for each by the changed paths.
All: version-check, unittest

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v2.3.0
  hooks:
  - id: trailing-whitespace
  - id: check-merge-conflict
  - id: check-yaml
  - id: check-executables-have-shebangs
  - id: mixed-line-ending
-   repo: https://github.com/psf/black
    rev: stable
    hooks:
    -   id: black
- repo: local
  hooks:
  - id: version-check
    name: version-check
    description: "Check if version is consistent in all source files"
    entry: .pre-commit/version_check.py
    pass_filenames: false
    stages:
    - commit
    - manual
    language: python
    files: ^(\.pre-commit/version_check\.py|setup\.py|sphinx_multiversion/__init__\.py|docs/conf\.py|docs/changelog\.rst)$
    additional_dependencies:
    - sphinx
  - id: unittest
    name: unittest
    description: "Run unittests"
    entry: python -m unittest discover
    pass_filenames: false
    language: python
    types:
    - python
    stages:
    - commit
    - manual
    additional_dependencies:
    - sphinx

Support python 311
  .github/workflows/ci.yml
  pyproject.toml
Due: none

use python311 also in tox config
  tox.ini
Due: none

fix CHANGELOG
  CHANGELOG.rst
Due: none

Update dependencies.
  pyproject.toml
  requirements/base.txt
  requirements/constraints.txt
  requirements/docs.txt
  requirements/test.txt
  src/sphinx_multiversion/main.py
Due: unittest

Format changelog.
  CHANGELOG.rst
Due: none

Adapt tag creation script.
  tag-from-pipeline.sh
Due: none

Correct version format in warning message of tag-from-pipeline.sh
  tag-from-pipeline.sh
Due: none

Use <packaging> module to parse version strings
  pyproject.toml
  src/sphinx_multiversion/main.py
Due: unittest

Update project requirement and constraint files
  requirements/base.txt
  requirements/constraints.txt
  requirements/docs.txt
  requirements/test.txt
Due: none

Update tox configuration to also use Python v3.11 for testing
  tox.ini
Due: none

Update CHANGELOG
  CHANGELOG.rst
Due: none

Update Sphinx configuration to search for git tags of format "X.Y.Z"
  docs/conf.py
Due: version-check, unittest

Fix documentation version sorting (#16)
  CHANGELOG.rst
  docs/conf.py
  pyproject.toml
  requirements/base.txt
  requirements/constraints.txt
  requirements/docs.txt
  requirements/test.txt
  src/sphinx_multiversion/main.py
  tox.ini
Due: version-check, unittest

fix: change index.html generation
  src/sphinx_multiversion/main.py
Due: unittest
