Repository iqm-finland/sphinx-multiversion-contrib: changes, and which pre-commit hooks are due for each by the changed paths.
All: version-check, unittest

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v2.3.0
  hooks:
  - id: trailing-whitespace
  - id: check-merge-conflict
  - id: check-yaml
  - id: check-executables-have-shebangs
  - id: mixed-line-ending
-   repo: https://github.com/psf/black
    rev: stable
    hooks:
    -   id: black
- repo: local
  hooks:
  - id: version-check
    name: version-check
    description: "Check if version is consistent in all source files"
    entry: .pre-commit/version_check.py
    pass_filenames: false
    stages:
    - commit
    - manual
    language: python
    files: ^(\.pre-commit/version_check\.py|setup\.py|sphinx_multiversion/__init__\.py|docs/conf\.py|docs/changelog\.rst)$
    additional_dependencies:
    - sphinx
  - id: unittest
    name: unittest
    description: "Run unittests"
    entry: python -m unittest discover
    pass_filenames: false
    language: python
    types:
    - python
    stages:
    - commit
    - manual
    additional_dependencies:
    - sphinx

Remove pre-commit hooks from the project
  .pre-commit-config.yaml
  .pre-commit/version_check.py
  .travis.yml
Due: version-check, unittest

Remove Travis CI configuration
  .travis.yml
Due: none

Remove requirements file
  requirements.txt
Due: none

Fix contradiction in sphinx dependency version specification
  pyproject.toml
Due: none

Fix RST document title underlines
  CHANGELOG.rst
Due: none

Add tox configuration file
  tox.ini
Due: none

Update code formatting tool dependencies to latest compatible versions
  pyproject.toml
  tox.ini
Due: none

Update project configuration
  pyproject.toml
  requirements/base.txt
  requirements/constraints.txt
  requirements/docs.txt
  requirements/test.txt
  tox.ini
Due: none

Ignore files with version information that are created during builds
  .gitignore
Due: none

Add CI configuration files
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  .github/workflows/tag_and_release.yml
  tag-from-pipeline.sh
Due: none

Remove obsolete github configuration file for publishing the project
  .github/workflows/python-publish.yml
Due: none

Update link to source code in documentation templates
  docs/index.rst
Due: none

Add the latest documentation version; built manually
  .buildinfo
  _sources/changelog.rst.txt
  _sources/configuration.rst.txt
  _sources/context.rst.txt
  _sources/faq.rst.txt
  _sources/github_pages.rst.txt
  _sources/index.rst.txt
  _sources/install.rst.txt
  _sources/quickstart.rst.txt
  _sources/templates.rst.txt
  _static/alabaster.css
  _static/basic.css
  _static/custom.css
  _static/doctools.js
  _static/documentation_options.js
  _static/file.png
  _static/jquery-3.5.1.js
  _static/jquery.js
  _static/language_data.js
  _static/minus.png
  _static/plus.png
  _static/pygments.css
  _static/searchtools.js
  _static/underscore-1.13.1.js
  _static/underscore.js
  changelog.html
  configuration.html
  context.html
  faq.html
  genindex.html
  github_pages.html
  index.html
  install.html
  objects.inv
  quickstart.html
  search.html
  searchindex.js
  templates.html
Due: none

Remove silencing test errors after having finished testing Github CI configuration
  tox.ini
Due: none

Change branch references from main to master
  .github/workflows/tag_and_release.yml
Due: none

Refer to CI config files in dev branch for troubleshooting workflows
  .github/workflows/tag_and_release.yml
Due: none

Silence selected testing errors for development purposes
  tox.ini
Due: none

Update documentation build configuration and templates
  AUTHORS.rst
  README.rst
  docs/Makefile
  docs/_static/images/favicon.ico
  docs/_static/images/logo.png
  docs/_templates/page.html
  docs/_templates/versioning.html
  docs/about.rst
  docs/authors.rst
  docs/conf.py
  docs/github_pages.rst
  docs/index.rst
  docs/install.rst
  docs/license.rst
Due: version-check, unittest

Update tox configuraion to build multiversion documentation
  tox.ini
Due: none

Do not treat warnings as failures in Sphinx during documentation builds
  tox.ini
Due: none

Sort Python imports
  src/sphinx_multiversion/__init__.py
  src/sphinx_multiversion/__main__.py
  src/sphinx_multiversion/main.py
  src/sphinx_multiversion/sphinx.py
Due: unittest

Enable checking of Python import statement sorting during testing
  tox.ini
Due: none

Trigger isort checks as Python module instead of pytest plugin
  pyproject.toml
  requirements/base.txt
  requirements/constraints.txt
  requirements/docs.txt
  requirements/test.txt
  tox.ini
Due: none

Refactor static check commands
  tox.ini
Due: none

Refactor static check commands more
  tox.ini
Due: none

Fix code formatting with black
  src/sphinx_multiversion/git.py
  src/sphinx_multiversion/main.py
  src/sphinx_multiversion/sphinx.py
  tests/test_sphinx.py
Due: unittest

Enable code formatting checks in tox configuration
  tox.ini
Due: none

Refactor code with pylint
  src/sphinx_multiversion/main.py
Due: unittest

Refactor code with pylint
  src/sphinx_multiversion/__init__.py
Due: unittest

Refactor code with pylint
  src/sphinx_multiversion/git.py
  src/sphinx_multiversion/main.py
Due: unittest

Refactor code with pylint
  src/sphinx_multiversion/sphinx.py
Due: unittest

Refactor code with pylint
  tests/test_sphinx.py
Due: unittest

Refactor code with pylint
  src/sphinx_multiversion/__main__.py
Due: unittest

Enable pylint tests
  tox.ini
Due: none

Remove pytest-pylint plugin as the dependency of the project
  pyproject.toml
  requirements/base.txt
  requirements/constraints.txt
  requirements/docs.txt
  requirements/test.txt
Due: none

Fix mypy configuration
  pyproject.toml
Due: none

Fix errors in code as reported by mypy
  src/sphinx_multiversion/git.py
Due: unittest

Enable mypy checks
  tox.ini
Due: none

Fix import order
  src/sphinx_multiversion/git.py
Due: unittest
