Repository iqm-finland/sphinx-multiversion-contrib: changes, and which pre-commit hooks are due for each by the changed paths.
All: version-check, unittest

version-check:
  name: version-check
  description: Check if version is consistent in all source files
  entry: .pre-commit/version_check.py
  pass_filenames: false
  stages:
  - commit
  - manual
  language: python
  additional_dependencies:
  - sphinx

unittest:
  name: unittest
  description: Run unittests
  entry: python -m unittest discover
  pass_filenames: false
  language: python
  stages:
  - commit
  - manual
  additional_dependencies:
  - sphinx

Make tool output verbose
  tox.ini
Due: none

Remove pytest-mypy plugin as the dependency of the project
  pyproject.toml
  requirements/base.txt
  requirements/constraints.txt
  requirements/docs.txt
  requirements/test.txt
Due: none

Remove unused dependencies
  pyproject.toml
  requirements/base.txt
  requirements/constraints.txt
  requirements/docs.txt
  requirements/test.txt
Due: none

Upgrade tox to the latest available version
  .github/workflows/ci.yml
  pyproject.toml
Due: none

Attempt to fix broken imports on Github CI
  tests/__init__.py
Due: unittest

Try CI workflows on Windows only in an attempt to fix broken imports on Github CI
  .github/workflows/ci.yml
Due: none

Print Python import paths in an attempt to fix broken imports on Github CI
  tox.ini
Due: none

Revert latest commits that were used for debugging Github CI pytest issue
  pyproject.toml
  requirements/base.txt
  requirements/constraints.txt
  requirements/docs.txt
  requirements/test.txt
Due: none

Update pytest configuration to fix failing import of module under test
  pyproject.toml
Due: none

Properly revert latest commits that were used for debugging Github CI pytest issue
  .github/workflows/ci.yml
  pyproject.toml
  requirements/base.txt
  requirements/constraints.txt
  requirements/docs.txt
  requirements/test.txt
  tests/__init__.py
  tox.ini
Due: unittest

Redo update pytest configuration to fix failing import of module under test
  pyproject.toml
Due: none

Use triple double quotes for docstrings consistently
  src/sphinx_multiversion/main.py
Due: unittest

Add type annotations to main.py
  src/sphinx_multiversion/git.py
  src/sphinx_multiversion/main.py
Due: unittest

Fix type annotations and code formatting that break static checks
  src/sphinx_multiversion/main.py
Due: unittest

Remove commented out code
  src/sphinx_multiversion/git.py
  src/sphinx_multiversion/main.py
Due: unittest

Add type annotations to git.py
  src/sphinx_multiversion/git.py
Due: unittest

Import less stuff
  src/sphinx_multiversion/sphinx.py
Due: unittest

Add type annotations to sphinx.py
  src/sphinx_multiversion/sphinx.py
Due: unittest

Fix code formatting
  src/sphinx_multiversion/sphinx.py
Due: unittest

Refactor sphinx imports
  src/sphinx_multiversion/main.py
Due: unittest

Refactor tag/branch whitelist evaluation logic
  src/sphinx_multiversion/git.py
Due: unittest

Fix tag/branch whitelist definition of the project documentation
  docs/conf.py
Due: version-check, unittest

Fix quantifier in tag whitelist regex
  docs/conf.py
Due: version-check, unittest

Use empty string to denote an empty whitelist
  docs/conf.py
Due: version-check, unittest

Revert "Use empty string to denote an empty whitelist"
  docs/conf.py
Due: version-check, unittest

Refactor code
  src/sphinx_multiversion/main.py
Due: unittest

Fix bug of failing documentation builds when not tags are present in Git repository
  src/sphinx_multiversion/main.py
Due: unittest

Enable warnings-as-failures option for building project's own documentation
  tox.ini
Due: none

Use correct name for the primary branch
  tag-from-pipeline.sh
Due: none

Reduce mypy logging verbosity
  pyproject.toml
  tox.ini
Due: none

Remove unused hyperlinks in the documentation templates
  docs/index.rst
Due: none

Update project name references to sphinx-multiversion-contrib
  DEVELOPMENT.rst
  README.rst
  docs/configuration.rst
  docs/faq.rst
  docs/install.rst
  docs/quickstart.rst
  docs/templates.rst
Due: none

Update copyright note in the license file of the project
  LICENSE.rst
Due: none

Add link to the original project in the documentation
  README.rst
Due: none

Use full company name in the copyright notice
  LICENSE.rst
Due: none

Update Github actions to the latest versions
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  .github/workflows/tag_and_release.yml
Due: none

Stop writing version number into a file during package build
  pyproject.toml
Due: none

Remove protobuf related configuration option of mypy
  pyproject.toml
Due: none

Update the versions of Github Actions to use
  .github/workflows/python-publish.yml
Due: none

Update the versions of Github Actions to use (#13)
  .github/workflows/python-publish.yml
Due: none

Path conditions:
  version-check: any of: ^(\.pre-commit/version_check\.py|setup\.py|sphinx_multiversion/__init__\.py|docs/conf\.py|docs/changelog\.rst)$
  unittest: any of: \.py$
